*{
  font-family: 'Orbitron', sans-serif;
  color: white;
 /* margin: auto; */

}

.tome{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  text-decoration: underline;

}

.form-border{
  border: 1px solid black;
  color: black;
}

.this{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#bg-image{
  background-repeat: no-repeat;
background-size: 100vh 100vw 100% cover;

}

.quote-card{
  text-align: center;
  background-color: transparent!important;
  font-size: 25px;
  color:white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#weather{
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.301)!important; */
  text-align: end;
  /* color: white; */
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  text-decoration: underline;
}

.b-ground{
  background-color: rgba(0, 0, 0, 0.301)!important;
}

span{
  color: white;
  background-color: rgba(0, 0, 0, 0.301)!important;
}


.to-do-color{
    color: white;
  background-color: rgba(0, 0, 0, 0.301)!important;
}

.todo-bg{
  background-color: rgba(0, 0, 0, 0.750)!important;
  
}
.move-to-do {
  height: 250px;
  width: 250px;
  word-wrap: break-word!important;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid black;
/* margin-bottom: 35px; */
}
i{
  color: black!important;
  
  align-content: center;
}

.bootoon:hover{
  
background-color: darkorange;
/* box-shadow: 10px 10px 10px !important; */
}

.foot .black{
  color: black!important;
  /* background-image: none!important; */
  font-size: 15px;
}